.app {
  height: 300px;
  display: flex;
}

.back {
  @include center-items;
  @include screen-width-small(60px);
  background: $color-light;
  height: $screen-size-height-small;
  img {

  }
}

.back-right {
  margin-left: -10px;
}

.back-left {
  margin-right: -10px;
}

.back:hover {
  background: $color-main-light;
  transition: 0.15s;
}

.back-right:hover {
  img {
    margin-right: -3px;
  }
}

.back-left:hover {
  img {
    margin-left: -3px;
  }
}