
.current-mod-stats {
  @include center-items;
}

.stat {
  @include center-items;
  margin: 10px;
  flex-direction: column;
  text-align: center;
  h1, h3 {
    margin: 3px;
  }
}

.follower-count {
  @include center-items;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
  h3, h4 {
    color: $color-light;
    margin: 2px;
  }
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: $color-winning;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #82C13C;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}
