@import 'variables';
@import 'reset';
@import 'main';

// TO CREATE NEW CSS - copy the command below and paste in terminal.
  // SCSS will be compiled and automatically fill the css folder.
// $ sass --watch ./src/styles/scss:./src/styles/css
