.repo-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 100%;
  z-index: 1;
  background: white;
}
.repo-header {
  display: flex;
  padding: 20px 0px;
  width: 90%;
  align-self: center;
}
.repo-title {
  flex: 1;
  h1, h3 {
    padding-left: 10px;
    display: inline-flex;
    align-items: center;
  }
}
.repo-stars {
  display: flex;
  h3, img {
    display: inline-flex;
    align-items: center;
    padding-right: 10px;
    color: $color-light;
  }
}
.repo-chart {
  display: flex;
  align-self: center;
  height: 250px;
  width: 90%;
  padding: 0px 0px 20px 0px;
}
.graph-buttons {
  align-self: center;
  padding: 10px 0px;
  display: flex;
  width: 85%;
  justify-content: space-between;;
  align-items: center;
  color: $color-main;
  .graph-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    border-radius: 50px;
    font-family: $font-main;
    font-size: 14px;
  }
  .graph-button:hover{
    color: $color-light;
  }
}

.selected-graph {
  background: $color-main-dark;
  color: $color-light;
}
