// COLOR

$color-main: #707070;
$color-main-light: lighten($color-main, 20);
$color-main-dark: darken($color-main, 20);
$color-light: #D8D8D8;
$color-winning: rgba(52, 255, 1, 1);
$color-losing: #D0011B;

// FONT

$font-main: 'Roboto', sans-serif;

// SCREEN

$screen-size-height-small: 300px;
$screen-size-width-small: 600px;
$inner-component-width: 540px;
@mixin screen-width-small($width) {
  width: $width;
}

// FLEX

@mixin center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

// HEADINGS

h1 {
  font-family: $font-main;
  font-size: 24px;
  color: $color-main;
}

h2 {
  font-family: $font-main;
  font-size: 18px;
  color: $color-main;
}

h3 {
  font-family: $font-main;
  font-size: 14px;
  color: $color-main;
}

h4 {
  font-family: $font-main;
  font-size: 10px;
  color: $color-main;
}

input {
  background: $color-light;
  border-radius: 5px;
  border: none;
  padding: 5px 3px;
  margin: 10px;
}

button {
  border-radius: 5px;
  border: 2px solid $color-main;
  padding: 3px 9px;
  font-family: $font-main;
}

button:hover {
  background-color: $color-main-dark;
  color: $color-light;
}

button:disabled {
  border: 2px solid $color-main-light;
  background: $color-light;
  color: $color-main-light;
  :hover {
    background: $color-light;
    color: $color-main-light;
  }
}

a {
  text-decoration: none;
}
