// COLOR

$color-main-light: lighten($color-main, 20);
$color-main: #707070;
$color-main-dark: darken($color-main, 20);

$color-winning: #82C13C;
$color-losing: #D0011B;

// FONT

$font-main: roboto;
